* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Note serif JP,serif;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(232, 238, 241, 0.9);
}

h1 {
    text-align: center;
    justify-content: center;
    margin: 0 auto;
 
}

img {
    border-radius: 30px;
}

.tews {
   margin: 0 auto;
   margin-bottom: 30px;
   }


section {
    margin-bottom: 30px;
}

  
.header {
    background-color:  #fff;
color: black;
margin-bottom: 30px;
display: flex;
height: fit-content;
z-index: 1000;
align-items: center;

  }

  /* 初期化 */
  
  
  a {
      text-decoration: none;
  }
  
  li {
      list-style: none;
  }
  


  
  .header-inner {
      padding: 0 5%;
  }
  

.fo01 li {
font-size: 1rem;
padding: 10px;
}


.fo01 li a {
    background-color: #fff;
color: black;
    text-decoration: none;
    
    padding: 5px;
  }

.fo01 a:hover {
    background-color: #CDCDCD;
  }


.fo01 {
    background-color: #fff;
color: black;
padding: 10px;
justify-content: center;
margin: 0 auto;
}

.box2 {
  padding: 10px;
  padding-top: 10px;
    background-color: #fff;
color: black;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-variant-numeric: 1rem;
}


.box3 {
padding: 10px;
padding-top: 10px;
background-color: #fff;
color: black;
}

.box1 {
    padding: 10px;
padding-top: 10px;
background-color: #fff;
color: black;
}
  

.boss {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin: 30px ;
}

.boss2 {
display: flex;
justify-content: center;
margin: 30px;
}

.boss3{
    display: flex;
    justify-content: center;
}

.boss4 {
    display: flex;
    justify-content: center;
    margin: 30px;
}


.boss5 {
    display: flex;
    justify-content: center;
    margin: 30px;
}


.boss6 {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.boss7 {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.boss8 {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.boss9 {
    display: flex;
    justify-content: center;
    margin: 30px;
}



input[type="email"]{
    padding: 10px;
    width: 65%;
    color:#999;
    border:1px solid #999;
    }

    .mail button{
    background: #5250e0;
    color: white;
    font-size:16px;
    font-weight:bold;
    padding: 10px 10px;
    margin: 0 5px;
    border-radius: 30px;
    }

.mail {
    padding: 10px;
    padding-top: 10px;
    background-color: #fff;
    color: black;
}

  /* ------------------------- */
  #header-hamburger {
    /* 見た目のCSS */
    background: #fff;
    cursor: pointer;
    width: 50px;
    aspect-ratio: 1/1;
    margin-left: auto;
    /* ボタンがハンバーガーウィンドウの下に隠れないようにする指定 */
    position: relative;
    z-index: 10;
}


#header-hamburger span {
    /* 見た目のCSS */
    display: inline-block;
    background: #333;
    width: 50%;
    height: 2px;
    /* バーガー線の太さ */
    /*アニメーションの設定*/
    transition: all .4s;
    position: absolute;
    left: 50%;
    /* バーガー線の位置 */
    transform: translateX(-50%);
}

/* １本目 */
#header-hamburger span:nth-of-type(1) {
    top: 30%;
}

/* ２本目 */
#header-hamburger span:nth-of-type(2) {
    top: 50%;
}

/* ３本目 */
#header-hamburger span:nth-of-type(3) {
    top: 70%;
}


/* ------------------ */
/* ×印 */
/* ------------------ */
/*activeクラスが付与されると線が回転して×になる*/
#header-hamburger.active span:nth-of-type(1) {
    top: 50%;
    left: 25%;
    transform: rotate(-45deg);
    width: 50%;
}

#header-hamburger.active span:nth-of-type(2) {
    opacity: 0;
}

#header-hamburger.active span:nth-of-type(3) {
    top: 50%;
    left: 25%;
    transform: rotate(45deg);
    width: 50%;
}

/* ----------------------------------------------- */
/* メニューウィンドウ */
/* -------------------------- */
#hamburger-window {
    transition: 0.3s;
    text-align: center;
    /* 初期状態は非表示 */
    visibility: hidden;
    position: fixed;
    top: 50px;
    right: -100vw;
    z-index: 1;
    /* 画面いっぱいに表示されるサイズに設定 */
    height: calc(100vh - 50px);
    /* 画面からはみ出したらスクロール可能にする */
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/*スクロールバー非表示（Chrome・Safari）*/
.content::-webkit-scrollbar{
    display:none;
}

#hamburger-window.open {
    visibility: visible;
    right: 0;
}

.hamburger-window__link {
    display: block;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.hamburger-window__link:hover {
    background-color:  #CDCDCD;
}

.hamburger-window__link:first-child .menu-link {
    border-top: 1px solid #ccc;
}

.menu-link {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 23px 0 23px 5%;
    color: #333;
    background-color: rgba(232, 238, 241, 0.9);
}    

.hamburger-window__link::after {
    /* fontawesomeアイコンを表示 */
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    display: inline-block;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    aspect-ratio: 1/1;
    color: #333;
}

.hamburger-window__title {
    color: #333;
}    




@media (min-width:700px) {

    header {
        margin-bottom: 30px;
    }

    h1 {
        padding-left: 210px;
    }
    


    .tews img {
        width: 700px;
        height: 500px;
    }

    .boxa li {
        margin: 135px;
        list-style: none;
    }

    .boxb li {
        margin: 80px;
        list-style: none;
    }

    .boxc li {
        margin: 100px;
        list-style: none;
    }

    .boxd li {
        margin: 135px;
        list-style: none;
    }

    .boxe li {
        margin: 110px;
        list-style: none;
    }

    .boxhg li {
        margin: 130px;
        list-style: none;
    }

.boxgs li {
    margin: 130px;
    list-style: none;
}

.boxiq li {
    margin: 130px;
    list-style: none;
}


.boxfe li {
    margin: 130px;
    list-style: none;
}


    .boxa1 img {
        width: 300px;
        height: 300px;
    }

    .boxb2 img {
        width: 300px;
        height: 350px;
    }

    .boxc3 img {
        width: 300px;
        height: 300px;
    }

    .boxd4 img {
        width: 300px;
        height: 350px;
    }

    .boxe5 img {
        width: 300px;
        height: 350px;
    } 
    
    .boxj3 img {
        width: 300px;
        height: 300px;
    }

    .boxz4 img {
        width: 300px;
        height: 300px;
    }

    .boxls img {
        width: 300px;
        height: 300px;
    }

    .boxcap img {
        width: 300px;
        height: 350px;
    }


}

@media (max-width:700px) {

    header {
        margin-bottom: 40px;
    }

   
    .tews img {
        width: 350px;
        height: 250px;
    }

    .boxa li {
        list-style: none;
    }

    .boxb li {
        list-style: none;
    }

    .boxc li {
        list-style: none;
    }

    .boxa1 img {
        width: 200px;
        height: 200px;

    }

    .boxb2 img {
        width: 200px;
        height: 350px;
    }

    .boxc3 img {
        width: 200px;
        height: 200px;
    }

    .boxd4 img {
        width: 200px;
        height: 200px;
    }

    .boxe5 img {
        width: 200px;
        height: 200px;
    }

    .boxj3 img {
        width: 200px;
        height: 200px;
    }

    .boxz4 img {
        width: 200px;
        height: 200px;
    }

    .boxcap img{

        width: 200px;
        height: 200px;
    }


    .boss {
        margin: 30px 0;
        display: block;
    }

    .boss2 {
        margin: 30px;
        display: block;
    }

    .boss3 {
        margin: 30px;
        display: block;
    }

    .boss4 {
        margin: 30px;
        display: block;
    }

    .boss5 {
        margin: 30px;
        display: block;
    }

    .boss6 {
        margin: 30px;
        display: block;
    }

    .boss7 {
        margin: 30px;
        display: block;
    }

    .boss8 {
        margin: 30px;
        display: block;
    }

    .boss9 {
        margin: 30px;
        display: block;
    }
}
